excels/
themes/
.idea
.tox
/media
venv
db.sqlite3
src/local_settings.py

*.pyc
node_modules/
base/local_settings.py

*.log
*.DS_Store
static/admin
env/
assets/
static/css/
static/CACHE/
static/js/build
.vscode/
.env
